:root {
    --bg: ;
    --primary: ;
    --secondary: ;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

/* Navbar */
.navbar {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 20px;
    background-color: rgb(1, 1, 1, 0.8);
    left: 0;
    right: 0;
    top: 0;
    z-index: 999;
}

.navbar .navbar-nav {
    display: inline-block;
    margin: 0 30px;
}

.navbar .navbar-nav a {
    color: #fff;
    margin: 0 2rem;
}