@import url(root.css);

:root {
    --bg: #FFFBF5;
    --primary: #4B49AC;
    --secondary: #98BDFF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background-color: var(--bg);
    height: 100vh;
}

/* Navbar */
.navbar {
    font-family: 'poppins';
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 20px;
    background-color: var(--primary);
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 999;
}

.navbar .navbar-logo {
    font-size: 2rem;
    font-weight: 600;
    color: var(--bg);
    /* font-style: italic; */
}

.navbar .navbar-logo span {
    color: var(--secondary);
}


.navbar .navbar-nav a {
    color: var(--bg);
    display: inline-block;
    font-size: 1rem;
    margin: 0 1rem;
}

.navbar .navbar-nav a:hover {
    color: var(--secondary);
}

.navbar .navbar-nav a::after {
    content: '';
    display: block;
    padding-right: 0.5rem;
    border-bottom: 0.1rem solid var(--primary);
    transform: scaleX(0);
    transition: 0.6s;
}

.navbar .navbar-nav a:hover::after {
    transform: scaleX(1);
}

.navbar .navbar-extra a {
    color: #fff;
    margin: 0 0.5rem;
}

.navbar .navbar-extra a:hover {
    color: var(--primary);
}

#hamburger-menu {
    display: none;
}



/*  laptop   */
@media (max-width: 1336px) {
    html {
        font-size: 75%;
    }

    #hamburger-menu {
        display: inline-block;
    }

    .navbar .navbar-nav {
        position: absolute;
        top: 100%;
        right: -100%;
        background-color: var(--bg);
        width: 30rem;
        height: 100vh;
        transition: 0.4s;
    }

    .navbar .navbar-nav.active {
        right: 0;
    }

    .navbar .navbar-nav a {
        color: var(--primary);
        display: block;
        margin: 1.5rem;
        padding: 4px;
        font-size: 1.5rem;
    }

    .navbar .navbar-nav a::after {
        transform-origin: 0 0;
    }

    .navbar .navbar-nav a:hover::after {
        transform: scaleX(0.2);
    }

    @media (max-width: 764px) {}
}