/* Form Division */
.pencarian form {
    position: relative;
    right: 0px;
    left: 500px;
}

/* Input */
.pencarian form input[type=text] {
    width: 250px;
    height: 30px;
    overflow: visible;
}

/* Button */
.pencarian form button {
    position: relative;
    bottom: 0px;
    top: 2px;
    background-color: transparent;
    border-color: rgba(0, 0, 0, 0);
}